.Badges__hero{
    display: flex;
    justify-content: center;
    width: 100%;
    // background: url('../../images/stars.svg'), #1B1B25;
    // padding: 2rem 0;
    margin-bottom: 1rem;
    .img-fondo{
        background: #1B1B25; 
        height: 200px;
        width: 100%;
    }
}
.Badges{
    display: flex;
}
.Badges__hero > .Badges__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin-top: 45px
}
.Badges__container{
        width: 100%;
        max-width: 580px;
        margin: 0 auto;
        padding: 0 1rem;
}
.Badges_conf-logo{
           margin-bottom: 2rem; 
           height: 100px; 
}
.Badges__buttons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.container-li{

    @include box-shadow(1px, 1px, 10px, -1px);

    display: flex;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 3px;
}

.img-avatar{
    border-radius: 100px;
}

.sub_contenedor_info{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    span{
        width: 100%;
    }
}
.twitter{
    color: deepskyblue;
}